server:
  port: 8089


spring:
  datasource:
    name: kbms
    url: jdbc:mysql://111.230.10.191:3306/kbms?useSSL=false
    username: common_user
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
      resolve-lazily: false
      enabled: true
      location: D:/zskglxt/upload

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
mybatis:
  mapper-locations: classpath:/mapping/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.log4j2.Log4j2Impl