<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjnu.kbms.dao.ColumnMapper">
  <resultMap id="BaseResultMap" type="com.fjnu.kbms.bean.Column">
    <id column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_picture" jdbcType="VARCHAR" property="columnPicture" />
    <result column="column_desc" jdbcType="VARCHAR" property="columnDesc" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="scan" jdbcType="INTEGER" property="scan" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>

  <resultMap id="ColumnListMap" type="com.fjnu.kbms.vo.ColumnListVO">
    <id column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_picture" jdbcType="VARCHAR" property="columnPicture" />
    <result column="column_desc" jdbcType="VARCHAR" property="columnDesc" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="scan" jdbcType="INTEGER" property="scan" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="status" jdbcType="TINYINT" property="status" />

      <result  column="user_name" jdbcType="VARCHAR" property="creatorName"/>

  </resultMap>
  <sql id="Base_Column_List">
    column_id, column_name, column_picture, column_desc, creator_id, scan, create_time, 
    status
  </sql>
  <sql id="MyColumn_List">
    column_id, column_name, column_picture, column_desc, user_name, scan, create_time,
    column.status

  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    *
    from `column`
    where column_id = #{columnId,jdbcType=INTEGER}
  </select>

  <select id="selectAll" parameterType="java.lang.Integer" resultMap="ColumnListMap">
    select
    <include refid="MyColumn_List" />
    from `column`,`user`
    where creator_id=user_id
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `column`
    where column_id = #{columnId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fjnu.kbms.bean.Column">
    insert into `column` (column_id, column_name, column_picture,
      column_desc, creator_id, scan, 
      create_time, status)
    values (#{columnId,jdbcType=INTEGER}, #{columnName,jdbcType=VARCHAR}, #{columnPicture,jdbcType=VARCHAR}, 
      #{columnDesc,jdbcType=VARCHAR}, #{creatorId,jdbcType=INTEGER}, #{scan,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fjnu.kbms.bean.Column">
    insert into `column`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        column_id,
      </if>
      <if test="columnName != null">
        column_name,
      </if>
      <if test="columnPicture != null">
        column_picture,
      </if>
      <if test="columnDesc != null">
        column_desc,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="scan != null">
        scan,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnPicture != null">
        #{columnPicture,jdbcType=VARCHAR},
      </if>
      <if test="columnDesc != null">
        #{columnDesc,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="scan != null">
        #{scan,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fjnu.kbms.bean.Column">
    update `column`
    <set>
      <if test="columnName != null">
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnPicture != null">
        column_picture = #{columnPicture,jdbcType=VARCHAR},
      </if>
      <if test="columnDesc != null">
        column_desc = #{columnDesc,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="scan != null">
        scan = #{scan,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fjnu.kbms.bean.Column">
    update `column`
    set column_name = #{columnName,jdbcType=VARCHAR},
      column_picture = #{columnPicture,jdbcType=VARCHAR},
      column_desc = #{columnDesc,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=INTEGER},
      scan = #{scan,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>

  <update id="updateSectionByPrimaryKey" parameterType="com.fjnu.kbms.bean.Column">
    update `column`
    set column_name = #{columnName,jdbcType=VARCHAR},
       column_desc = #{columnDesc,jdbcType=VARCHAR}
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>
</mapper>