<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet"  th:href="@{/css/login.css}">
    <link rel="stylesheet"  th:href="@{/layui/css/layui.css}">
    <script  th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <ul class="layui-nav layui-bg-blue" style="text-align: center;">
        <div class="layui-input-inline">
            <input id="search_block" type="text" name="title" placeholder="搜索问题、话题或人..." autocomplete="off" class="layui-input">
        </div>
        <li class="layui-nav-item">
            <a href="/front_index"><i class="layui-icon layui-icon-search" style="font-size: 20px"></i> 发现</a>
        </li>
        <li class="layui-nav-item">
            <a href="/column"><i class="layui-icon layui-icon-templeate-1" style="font-size: 20px"></i> 专栏</a>
        </li>
    </ul>
    <ul th:if="${session.username!=null}" class="layui-nav layui-bg-blue layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                <span th:text="${session.username}"></span>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="/publish">发布问题/文章</a></dd>
                <dd><a href="/user/acSetting">基本资料</a></dd>
                <dd><a href="/user/pwSetting">修改密码</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/logout">退出</a></li>
    </ul>
</header>
<div class="login-main">
    <header class="layui-elip">修改密码 </header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" id="password" name="password" required lay-verify="required" placeholder="当前密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" id="npassword" name="newPassword" required lay-verify="required" placeholder="新密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" id="cpass" name="cpass" required lay-verify="repass" placeholder="确认密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline login-btn">
            <button lay-submit lay-filter="edit" class="layui-btn">修改</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['element','form','layer','jquery'], function () {
        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        var layer=layui.layer;
        //自定义验证
        form.verify({
            repass: function(value){
                if($('#npassword').val()!==$('#cpass').val()){
                    return '两次密码不一致';
                }
            }
        });
        form.on('submit(edit)',function (data) {
            console.log(data);
            $.ajax({
                url:'/user/changePassword',
                data:data.field,
                dataType:'json',
                type:'post',
                success:function (res) {
                    if(res.status === "success"){
                        layer.msg(res.data,function(){
                            //跳转至前台主页面
                            location.href = "/login";
                            console.log("跳转回登录页面重新登录....")
                        });
                    }else{
                        layer.msg("修改失败");
                    }
                }
            });
            return false;
        });
    });
</script>

</body>
</html>