<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页</title>
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <link rel="stylesheet" href="/css/detail.css" />
</head>

<body>
    <header>
        <ul class="layui-nav layui-bg-blue" style="text-align: center;">
            <div class="layui-input-inline">
                <input id="search_block" type="text" name="title" placeholder="搜索问题、话题或人..." autocomplete="off" class="layui-input">
            </div>
            <li class="layui-nav-item">
                <a href=""><i class="layui-icon layui-icon-search" style="font-size: 20px"></i> 发现</a>
            </li>
            <li class="layui-nav-item">
                <a href=""><i class="layui-icon layui-icon-templeate-1" style="font-size: 20px"></i> 专栏</a>
            </li>
        </ul>
        <!-- <ul class="layui-nav layui-bg-blue layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul> -->
        <ul class="layui-nav layui-bg-blue layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">登录</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">注册</a>
            </li>
        </ul>
    </header>
    <div class="layui-container">
        <div class="layui-row" style="border: 1px solid #e6e6e6;">
            <div class="layui-col-xs13 layui-col-md9">
                <div class="layui-card" style="border-right: 1px solid #e6e6e6;">
                    <div class="layui-card-header">
                        <h2>python基础3</h2>
                    </div>
                    <div class="layui-card-body content">
                        <p>python基础知识第3小节</p>
                        <p></p>
                        <div class="aw-upload-img-list active">
                            <a href="http://zhishiku.little-star.me/uploads/article/20200414/264826331723d4c9f138533108202788.png" target="_blank" data-fancybox-group="thumb" rel="lightbox">
                                <img src="http://zhishiku.little-star.me/uploads/article/20200414/264826331723d4c9f138533108202788.png" class="img-polaroid" title="http://zhishiku.little-star.me/uploads/article/20200414/264826331723d4c9f138533108202788.png" alt="http://zhishiku.little-star.me/uploads/article/20200414/264826331723d4c9f138533108202788.png">
                            </a>
                        </div>
                        <p></p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <div style="text-align: center;">
                            <video controls="controls" src="http://zhishiku.little-star.me/uploads/article/20200414/4d1823db1b9b093ff99a19745cbbebcb.mp4" style="max-width: 100%; height: auto;">&nbsp;</video>
                        </div>
                        <p>&nbsp;</p>
                    </div>
                    <div class="layui-card-body clearfix">
                        <p class="pull-left">浏览量：23</p>
                        <p class="pull-right">2020-07-03</p>
                    </div>
                    <div class="layui-card-header comment-header">
                        <h2>4条评论</h2>
                    </div>
                    <div class="layui-card-body comment-body">
                        <div class="comment-item">
                            <div class="mod-head">
                                <a class="user-img" href="http://zhishiku.little-star.me/?/people/8">
                                    <img src="http://zhishiku.little-star.me/static/common/avatar-mid-img.png" alt="zhangsan">
                                </a>
                                <p><a href="http://zhishiku.little-star.me/?/people/8">zhangsan</a></p>
                            </div>
                            <div class="mod-body">
                                <div class="markitup-box">111</div>
                            </div>
                            <div class="mod-footer">
                                <div class="meta">
                                    <span class="pull-right text-color-999">5 天前</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="mod-head">
                                <a class="user-img" href="http://zhishiku.little-star.me/?/people/8">
                                    <img src="http://zhishiku.little-star.me/static/common/avatar-mid-img.png" alt="zhangsan">
                                </a>
                                <p><a href="http://zhishiku.little-star.me/?/people/8">zhangsan</a></p>
                            </div>
                            <div class="mod-body">
                                <div class="markitup-box">111</div>
                            </div>
                            <div class="mod-footer">
                                <div class="meta">
                                    <span class="pull-right text-color-999">5 天前</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="mod-head">
                                <a class="user-img" href="http://zhishiku.little-star.me/?/people/8">
                                    <img src="http://zhishiku.little-star.me/static/common/avatar-mid-img.png" alt="zhangsan">
                                </a>
                                <p><a href="http://zhishiku.little-star.me/?/people/8">zhangsan</a></p>
                            </div>
                            <div class="mod-body">
                                <div class="markitup-box">111</div>
                            </div>
                            <div class="mod-footer">
                                <div class="meta">
                                    <span class="pull-right text-color-999">5 天前</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="mod-head">
                                <a class="user-img" href="http://zhishiku.little-star.me/?/people/8">
                                    <img src="http://zhishiku.little-star.me/static/common/avatar-mid-img.png" alt="zhangsan">
                                </a>
                                <p><a href="http://zhishiku.little-star.me/?/people/8">zhangsan</a></p>
                            </div>
                            <div class="mod-body">
                                <div class="markitup-box">111</div>
                            </div>
                            <div class="mod-footer">
                                <div class="meta">
                                    <span class="pull-right text-color-999">5 天前</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card-body comment-area">
                        <!-- <p>要回复文章请先<a href="javascript:;">登录</a>或<a href="javascript:;">注册</a></p> -->
                        <form class="layui-form" action="#">
                            <div class="layui-form-item layui-form-text reply-item">
                                <div class="layui-input-inline">
                                    <a href="http://zhishiku.little-star.me/?/people/" class="aw-user-name"><img alt="aabbcczhy" src="http://zhishiku.little-star.me/static/common/avatar-mid-img.png"></a>
                                </div>
                                <div class="layui-input-block reply-content">
                                    <textarea name="comment" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-normal pull-right" lay-submit lay-filter="formDemo">回复</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs5 layui-col-md3">
                <div class="mod-head">
                    <h3>发起人</h3>
                </div>
                <div class="mod-body">
                    <dl>
                        <dt class="pull-left">
                            <a href="http://zhishiku.little-star.me/?/people/1"><img alt="tong" src="http://zhishiku.little-star.me/uploads/avatar/000/00/00/01_avatar_max.jpg"></a>
                            </dt>
                        <dd class="pull-left userinfo">
                            <a class="aw-user-name" href="http://zhishiku.little-star.me/?/people/1">tong</a>
                            <p>神秘嘉宾</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <p>© 2020 <a href="/">layui.com</a> MIT license</p>
    </div>
    <script src="/layui/layui.js"></script>
    <script>
        layui.use('element', function() {
            var element = layui.element;

        });
    </script>
</body>

</html>